@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  background-image: url("./assets/dust_bg.jpg");
  background-size: cover;
  background-position: center center;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.logo {
  background-color: #fff;
  width: 80px;
  height: 50px;
  float: left;
}

.weather_box {
  width: 30%;
  height: 80px;
  float: right;
}

.weather_icon_box {
  width: 60px;
  height: 60px;
  float: right;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  height: 70vh;
  background-color: #999;
}

.phoneWrap {
  position: relative;
  width: 40%;
  height: 100%;
}

.phone {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.inner__phone {
  position: absolute;
  width: 94%;
  height: 90%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.contentWrap {
  width: 80%;
  height: 100%;
}

.contentBox {
  background-color: #fff;
  color: #000;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.formBtnBox {
  float: right;
}

.formBtn {
  border-radius: 4px;
  margin-right: 5px;
  border: none;
}
.formBtn:hover {
  font-weight: bold;
  cursor: pointer;
}

.content__owner {
  font-weight: bold;
}

.content__text {
  padding: 5px;
  line-height: 2rem;
}

.content__time {
  text-align: right;
  font-size: 0.8rem;
}

.containerBox {
  position: relative;
  width: 50%;
  height: 100%;
}

.bgCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 100;
}

.boardBox {
  width: 30vw;
  height: 36vh;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20vh;
  margin-left: 32vw;
}

.board {
  display: block;
  width: 100%;
  height: 100%;
}

.boardIcon {
  color: #333;
}

.boardTitle {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
  padding: 10px 0 5px 15px;
  line-height: 2rem;
}

.boardInput {
  color: #333;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-left: 15px;
  display: block;
  width: 90%;
  height: 60%;
}

.boardBox .formBtn {
  display: block;
  padding: 0 30px;
  height: 14%;
  background-color: #aaa;
  color: #333;
  margin: 0 auto;
}

.boardBox .formBtn:hover {
  padding: 0 25px;
  height: 13%;
  margin-top: 0.25%;
}
