@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  background-image: url("./assets/dust_bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 150px;
  height: 150px;
}
#logo {
  width: 100%;
  height: 100%;
  background-size: 130% auto;
  background-repeat: no-repeat;
}

.weather_box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 10%;
  height: 80px;
}

.weather_icon_box {
  width: 100%;
  height: 50px;
}

.weather_icon {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.weatherText {
  line-height: 1.4rem;
  text-align: center;
}

.container {
  position: absolute;
  top: 10vh;
  left: 25vw;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 70vh;
}

.inner__container {
  position: relative;
  width: 45%;
  height: 100%;
}

#btnCreate {
  display: block;
  width: 100%;
  height: 20px;
  text-align: right;
}

.phoneWrap {
  position: relative;
  width: 55%;
  height: 100%;
}

.phone {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.inner__phone {
  position: absolute;
  width: 59%;
  height: 100%;
  top: 0;
  left: 20%;
  background-color: #000;
  z-index: 1;
  background-image: url("./assets/meoib_logo.png");
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.contentWrap {
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: scroll;
}

.contentWrap::-webkit-scrollbar {
}

.inner__contentWrap {
  width: 95%;
  height: auto;
}

.contentBox {
  background-color: #fff;
  color: #000;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.formBtnBox {
  float: right;
}

.formBtn {
  border-radius: 4px;
  margin-right: 5px;
  border: none;
}
.formBtn:hover {
  font-weight: bold;
  cursor: pointer;
}

.content__owner {
  font-weight: bold;
}

.content__text {
  padding: 5px;
  line-height: 2rem;
}

.content__time {
  text-align: right;
  font-size: 0.8rem;
}

.bgCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 100;
}

.boardBox {
  width: 30vw;
  height: 36vh;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20vh;
  margin-left: 35vw;
}

.board {
  display: block;
  width: 100%;
  height: 100%;
}

.boardIcon {
  color: #333;
  font-size: 2rem;
  float: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.boardTitle {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
  padding: 10px 0 5px 15px;
  line-height: 2rem;
}

.boardInput {
  color: #333;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-left: 15px;
  display: block;
  width: 90%;
  height: 60%;
}

.boardBox .formBtn {
  display: block;
  padding: 0 30px;
  height: 14%;
  background-color: #aaa;
  color: #333;
  margin: 0 auto;
}

.boardBox .formBtn:hover {
  padding: 0 25px;
  height: 13%;
  margin-top: 0.25%;
}
